.nav__container{
    display: flex;


/* padding: 30px 70px; */
justify-content: space-between;
align-items: center;
flex-shrink: 0;
margin: 0 auto;
font-family:'Kufam';
margin-bottom: 50px;


}
.nav__list{
    display: flex;
    gap: 40px;
    font-family:'Kufam';
    font-size: 15px;
    font-weight: 500;
    
}
.logo__con{
    width: 60px;
    
}
.logo__con img{
    width: 100%;
}
.link{
    color: var(--Gulf-Blue-50, #E9F7FF);
    cursor: pointer;
}